@page "{key:int}"
@model RockExplorer_Reforged.Pages.Artifacts.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
<h1>DeleteEvent</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <form method="post">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.artifact.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.artifact.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.artifact.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.artifact.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.artifact.PathToAudioFile)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.artifact.PathToAudioFile)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.artifact.PathToImageFile)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.artifact.PathToImageFile)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.artifact.YearOfCreation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.artifact.YearOfCreation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.artifact.Artist)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.artifact.Artist)
            </dd>
        </dl>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <div>
        <a asp-page="Read" class="btn btn-primary">Back to List</a>
    </div>
</div>