@page "{key:int}"
@model RockExplorer_Reforged.Pages.Artifacts.UpdateModel
@{
    ViewData["Title"] = "Update";
}
<div class="Update-page">

    <h1>EditArtifact</h1>

    <form method="post" class="update-form">

        <div class="form-group">
            <label asp-for="@Model.artifact.Name" class="control-label">Name</label>
            <input asp-for="@Model.artifact.Name" class="form-control" />
            <span asp-validation-for="@Model.artifact.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.artifact.Description" class="control-label">Description</label>
            <input asp-for="@Model.artifact.Description" class="form-control" />
            <span asp-validation-for="@Model.artifact.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.artifact.PathToAudioFile" class="control-label">ImageName</label>
            <input asp-for="@Model.artifact.PathToAudioFile" class="form-control" />
            <span asp-validation-for="@Model.artifact.PathToAudioFile" class="text-danger"></span>
        </div>
@*
        <div class="form-group">
            <label asp-for="@Model.artifact.PathToImage" class="control-label">ImageName</label>
            <input asp-for="@Model.artifact.PathToImage" class="form-control" />
            <span asp-validation-for="@Model.artifact.PathToImage" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="@Model.artifact.YearOfCreation" class="control-label">YearOfCreation</label>
            <input asp-for="@Model.artifact.YearOfCreation" class="form-control" />
            <span asp-validation-for="@Model.artifact.YearOfCreation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.artifact.Artist" class="control-label">ImageName</label>
            <input asp-for="@Model.artifact.Artist" class="form-control" />
            <span asp-validation-for="@Model.artifact.Artist" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-page="Read" class="btn btn-primary">Back to List</a>
        </div>
    </form>
